canvas{
    animation-name: colour;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}
@keyframes colour{
    from{box-shadow: 1px 1px 38px rgb(255, 2, 120);}
    to{box-shadow: 1px 1px 38px rgb(146, 48, 48);}
}